.adminPage {
    padding-bottom: 20px;
}

.adminPageContainer {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    padding-right: 20px;
}

.adminPageContainerMenu {
    height: 95%;
    background: rgba(0, 0, 0, 0.11);
    padding-top: 30px;
    border-radius: 25px;
}

.adminMenuCard {
    margin-top: 10px;
}

.adminMenuCard:hover {
    cursor: pointer;
    background: white;
}

.adminPageContainerBody {
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.11);
    padding-top: 30px;
    border-radius: 25px;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;

}

.adminPageContainerBodyHeader {
    margin-left: 30px;
    margin-bottom: 10px;
}

.adminPageContainerBodyContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
}

.adminPageContainerBodyGraphWrapper {
    padding-top: 40px;
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: 7fr 1fr;
    justify-items: center;
}

.adminGraph {
    background-color: rgba(255, 255, 255, 0.69);
}

.vrednostStatCard{
    font-size: 1.5em;
    font-family: "Segoe UI Emoji";
}