.pageContainer {

    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 20px;
}

.pageContainerHead {
    padding-top: 30px;
    margin-bottom: 50px;
}

.pageContainerBody {
    padding-bottom: 50px;
}

.pageBodyContent {
    height: 50vh;
    overflow-y: scroll;
}

.pageHeadDivs {
    width: fit-content;
    display: grid;
    align-items: center;
}

.pageHeadDivs div {
    margin-left: 20px;
}

.pageHeadDivs div input {
    margin-top: 30px;
}

/*button search and sort*/
.btn-96,
.btn-96 *,
.btn-96 :after,
.btn-96 :before,
.btn-96:after,
.btn-96:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-96 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}

.btn-96:disabled {
    cursor: default;
}

.btn-96:-moz-focusring {
    outline: auto;
}

.btn-96 svg {
    display: block;
    vertical-align: middle;
}

.btn-96 [hidden] {
    display: none;
}

.btn-96 {
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    -webkit-mask-image: none;
    padding: 2rem 5rem;
    perspective: 800px;
    position: relative;
    text-transform: uppercase;
    transform-style: preserve-3d;
}

.btn-96 span {
    background: #fff;
    color: #000;
    display: grid;
    inset: 0;
    place-items: center;
    position: absolute;
    transform: rotateX(0deg);
    transform-origin: top center;
    transition: 0.2s;
}

.btn-96:hover span {
    transform: rotateX(35deg);
}

.btn-96:after,
.btn-96:before {
    background: #ddd;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateX(0deg);
    width: 100%;
    z-index: -1;
}

.btn-96:after {
    background: #ccc;
    width: 0;
}

.btn-96:hover:after {
    -webkit-animation: progress-bar 1.2s;
    animation: progress-bar 1.2s;
}

@-webkit-keyframes progress-bar {
    0% {
        opacity: 1;
        width: 0;
    }
    10% {
        opacity: 1;
        width: 15%;
    }
    25% {
        opacity: 1;
        width: 25%;
    }
    40% {
        opacity: 1;
        width: 35%;
    }
    55% {
        opacity: 1;
        width: 75%;
    }
    60% {
        opacity: 1;
        width: 100%;
    }
    to {
        opacity: 0;
        width: 100%;
    }
}

@keyframes progress-bar {
    0% {
        opacity: 1;
        width: 0;
    }
    10% {
        opacity: 1;
        width: 15%;
    }
    25% {
        opacity: 1;
        width: 25%;
    }
    40% {
        opacity: 1;
        width: 35%;
    }
    55% {
        opacity: 1;
        width: 75%;
    }
    60% {
        opacity: 1;
        width: 100%;
    }
    to {
        opacity: 0;
        width: 100%;
    }
}
.btn-99,
.btn-99 *,
.btn-99 :after,
.btn-99 :before,
.btn-99:after,
.btn-99:before {
    border: 0 solid;
    box-sizing: border-box;
}
.btn-99 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #000000;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}
.btn-99:disabled {
    cursor: default;
}
.btn-99:-moz-focusring {
    outline: auto;
}
.btn-99 svg {
    display: block;
    vertical-align: middle;
}
.btn-99 [hidden] {
    display: none;
}
.btn-99 {
    --margin: 20%;
    background: none;
    -webkit-clip-path: polygon(
            calc(var(--margin) * -1) 0,
            calc(100% + var(--margin)) 0,
            calc(100% + var(--margin)) 100%,
            calc(var(--margin) * -1) 100%
    );
    clip-path: polygon(
            calc(var(--margin) * -1) 0,
            calc(100% + var(--margin)) 0,
            calc(100% + var(--margin)) 100%,
            calc(var(--margin) * -1) 100%
    );
    display: inline;
    font-weight: 900;
    -webkit-mask-image: none;
    position: relative;
    text-transform: uppercase;
    transition: 0.2s;
}
.btn-99:hover {
    transform: scale(1.1);
}
.btn-99:before {
    background: #000000;
    content: "";
    height: 2px;
    left: -100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    width: calc(100% + var(--margin) * 2);
}
.btn-99:hover:before {
    transform: translate(calc(100% - var(--margin) * 2), -50%);
}
