body{
    height: 100vh;
    overflow-y: auto;
}
.restoranPageContainerBody {
    display: grid;
    grid-template-columns: 1fr;
}

.restoranPageHeaderContent{
    margin-left: 20px;
}

.restoranHeadImg{
    height: 200px;
}

.restoranPageBodyContent {
    height: 50vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    padding-bottom: 50px;
}

.mestoBackgroudCard{
    background-image: url("../img/mestoImg.jpg");
    background-size: cover;
}

.mestoNaslov{
    background-color: rgba(0, 0, 0, 0.27);
    color: white;
}
.mestoText{
    background-color: rgba(255, 255, 255, 0.49);
    color: #000000;
}