body {
    height: 100vh;
    overflow-y: auto;
}

.restoranPageContainerBody {
    display: grid;
    grid-template-columns: 1fr;
}

.restoranPageHeaderContent {
    margin-left: 20px;
}

.restoranHead {
    margin-bottom: 10px;
    padding-top: 20px;
    width: 90%;
    height: 250px;
}

.restoranInfoWrapper {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.17);
    margin-left: auto;
    margin-right: auto;
}

.restoranInfoDiv{
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.restoranInfoNaslov{
    text-align: center;
}

.restoranInfoBody{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 10px;
    justify-items: center;
}

.restoranInfoBody div{
    width: 90%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.29);
    border-radius: 10px;
    font-size: 1.4em;
}

.restoranHeadImg {
    height: 200px;
}

.restoranPageBodyContent {
    height: 50vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    padding-bottom: 50px;
}

.mestoBackgroudCard {
    background-image: url("../img/mestoImg.jpg");
    background-size: cover;
}

.mestoDiv {
    background-color: rgba(0, 0, 0, 0.46);
    color: white;
    border-radius: 20px;
    padding: 20px;
}
