body {
    height: 100vh;
    overflow-y: hidden;
}

#root {
    min-height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background-image: url("img/background4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
    text-align: center;

}

nav {
    min-height: 50px;

}

footer {
    min-height: 50px;
}